<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Solis, Luna, Arts, Solis and Luna Art">
    <meta name="description" content="a non-profit charity for helping students express themselves">
    <title>Solis and Luna Arts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kanit:wght@500&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/Favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/ingText.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400&family=Lato:wght@400&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="/styles/banner.css">
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="stylesheet" href="/styles/sections.css">
    <link rel="stylesheet" href="/styles/region.css">
    <link rel="stylesheet" href="/styles/team.css">
    <link rel="stylesheet" href="/styles/fullteam.css">
    <link rel="stylesheet" href="/styles/executives.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid nav">
            <a class="navbar-brand" href="/">
                <img src="/images/solis.png" alt="" height="100">
            </a>
            <a class="nav-link nav-header">Solis and Luna Arts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" aria-current="page" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Teams
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/executives">Executive Team</a></li>
                            <li><a class="dropdown-item" href="/writing">Writing Team</a></li>
                            <li><a class="dropdown-item" href="/getinvolved">Venues</a></li>
                            <% regions.forEach((region) => { %>
                                <% if (region.expanded) { %>
                                    <li>
                                        <a class="dropdown-item" href="#"><%=region.name%> &raquo;</a>
                                        <ul class="dropdown-menu dropdown-submenu dropdown-submenu-right">
                                            <% region.regions.forEach((subsection) => { %>
                                                <li><a class="dropdown-item" href="/region/<%=region.id%>/<%=subsection.id%>"><%=subsection.name%></a></li>
                                            <% }) %>
                                        </ul>
                                    </li>
                                <% } else { %>
                                    <li><a class="dropdown-item" href="/region/<%=region.id%>"><%=region.name%></a></li>  
                                <% } %>
                            <% }) %>
                        </ul>
                    </li>
                    <li class="nav-item blog">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item blog">
                        <a class="nav-link" href="/podcast">Podcast</a>
                    </li>
                    <li class="nav-item blog">
                        <a class="nav-link" href="/press">Press</a>
                    </li>
                    <li class="nav-item blog" style="color:black !important;">
                        <a class="nav-link" href="/videos">Videos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="regular">
        <!-- 25-26 Executive Board -->
        <div class="team section section2" id="team">
            <h1 class="text-center ourteam ">Our Executive Board</h1>
            <div class="persons">
                <!-- President -->
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Victor_Hsu.png" alt="Victor Hsu" class="pfp">
                    </center>
                    <h5 class="text-center">Victor Hsu</h5>
                    <h6 class="text-center">President</h6>
                </div>

                <!-- Founder -->
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Chloe_Cho.png" alt="Chloe Cho" class="pfp">
                    </center>
                    <h5 class="text-center">Chloe Cho</h5>
                    <h6 class="text-center">Founder</h6>
                </div>

                <!-- Writing -->
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Hailey_Shen.png" alt="Hailey Shen" class="pfp">
                    </center>
                    <h5 class="text-center">Hailey Shen</h5>
                    <h6 class="text-center">Writing Manager</h6>
                </div>
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Joshua_Min.png" alt="Joshua Min" class="pfp">
                    </center>
                    <h5 class="text-center">Joshua Min</h5>
                    <h6 class="text-center">Assistant Writing Manager</h6>
                </div>

                <!-- Finance -->
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Stephen_Yang.png" alt="Stephen Yang" class="pfp">
                    </center>
                    <h5 class="text-center">Stephen Yang</h5>
                    <h6 class="text-center">Finance Manager</h6>
                </div>

                <!-- Web team (placed near the middle) -->
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Puhalenthi_Ramesh.jpg" alt="Puhalenthi Ramesh" class="pfp">
                    </center>
                    <h5 class="text-center">Puhalenthi Ramesh</h5>
                    <h6 class="text-center">Webmaster</h6>
                </div>
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/David_Villarosa.jpg" alt="David Villarosa" class="pfp">
                    </center>
                    <h5 class="text-center">David Villarosa</h5>
                    <h6 class="text-center">Assistant Webmaster</h6>
                </div>

                <!-- Outreach / Social / Media -->
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Aiden_Ahn.jpg" alt="Aiden Ahn" class="pfp">
                    </center>
                    <h5 class="text-center">Aiden Ahn</h5>
                    <h6 class="text-center">Outreach Manager</h6>
                </div>
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Emily_Park.png" alt="Emily Park" class="pfp">
                    </center>
                    <h5 class="text-center">Emily Park</h5>
                    <h6 class="text-center">Social Media Content Manager</h6>
                </div>

                <!-- Media channels -->
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Willow_Yoo.png" alt="Willow Yoo" class="pfp">
                    </center>
                    <h5 class="text-center">Willow Yoo</h5>
                    <h6 class="text-center">Podcast Manager</h6>
                </div>
                <div class="person" data-description="Hello">
                    <center>
                        <img src="/images/PFP/25-26/Phil_Om.png" alt="Phil Om" class="pfp">
                    </center>
                    <h5 class="text-center">Phil Om</h5>
                    <h6 class="text-center">YouTube Editor</h6>
                </div>
            </div>
        </div>

        <!-- 24-25 Executive Board -->
        <div class="team section section2">
            <h1 class="text-center ourteam ">24-25 Executive Board</h1>
            <div class="persons">
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Chloe_Cho.webp" alt="Chloe Cho" class="pfp">
                    </center>
                    <h5 class="text-center">Chloe Cho</h5>
                    <h6 class="text-center">President</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Madhav_Dua.jpeg" alt="Madhav Dua" class="pfp">
                    </center>
                    <h5 class="text-center">Madhav Dua</h5>
                    <h6 class="text-center">Co Vice President</h6>
                    <h6 class="text-center">Writing Manager</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Victor_Hsu.jpg" alt="Victor Hsu" class="pfp">
                    </center>
                    <h5 class="text-center">Victor Hsu</h5>
                    <h6 class="text-center">Co Vice President</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Danielle.jpg" alt="Danielle Shi" class="pfp">
                    </center>
                    <h5 class="text-center">Danielle Shi</h5>
                    <h6 class="text-center">Finance Manager</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Elle.png" alt="Elle Kim" class="pfp">
                    </center>
                    <h5 class="text-center">Elle Kim</h5>
                    <h6 class="text-center">Media Manager</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/natalia.jpg" alt="" class="pfp">
                    </center>
                    <h5 class="text-center">Natalia</h5>
                    <h6 class="text-center">Social Media Content Creator</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Meredith Ho.jpg" alt="Meredith Ho" class="pfp">
                    </center>
                    <h5 class="text-center">Meredith Ho</h5>
                    <h6 class="text-center">Social Media Content Creator</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Valerie.jpg" alt="Valerie Chen" class="pfp">
                    </center>
                    <h5 class="text-center">Valerie Chen</h5>
                    <h6 class="text-center">Social Media Content Creator</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Jack_Crowley.png" alt="" class="pfp">
                    </center>
                    <h5 class="text-center">Jack Crowley</h5>
                    <h6 class="text-center">Webmaster</h6>
                </div>
                <div class="person " data-description="Hello">
                    <center>
                        <img src="/images/PFP/Aiden_Hong.jpg" alt="" class="pfp">
                    </center>
                    <h5 class="text-center">Aiden Hong</h5>
                    <h6 class="text-center">Assistant Webmaster</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="profile">
        <div class="individualProfile" id="profile">
            <button class="goback">Go Back</button>
            <div class="information">
                <h1></h1>
                <h5></h5>
            </div>
            <img src="./images/PFP/Chloe_Cho.webp" alt="" class="bigProfileImage">
        </div>
    </div>
    <script src="/scripts/makePerson.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="/scripts/nav.js"></script>
</body>

</html>